@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.appBoard {

   .container {
    margin: 0px auto;
    }

    .pivotContainer {
      margin: 10px auto;
      text-align: center;
    }

    .viewContainer {
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      justify-content: center;
      margin: 15px 5px;
      height: auto;
    }

    .card {
      display: flex;
      flex-flow: column nowrap;
      margin: 10px auto;
      height: auto;
      border-radius: 2px;
      text-align: left;
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 
      0px 1px 1px 0px rgba(0,0,0,0.14), 
      0px 2px 1px -1px rgba(0,0,0,0.12);
      width: 32%;
      transition: all 0.25s ease-in;
      border-bottom: 0px solid transparent;

      &:hover {
      transform: translateY(-5px);

      border-bottom: 5px solid #fff;
      }

      //media queries for stacking cards
      @media screen and (max-width: 991px) {
        width: 49%;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    // .blueHover {
    //   transition: all 0.25s ease-in;
    //   border-bottom: 0px solid transparent;

    //   &:hover {
    //     transform: translateY(-5px);
    //     // border: none;
    //     border-bottom: 5px solid #fff;
    //   }
    // }

    .cardHeader {
      background-color: #0078d4;
      padding: 10px;
      // height: 60px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      color: white;
      text-align: center;
    }

    .dateContainer {
      text-align: center;
      background-color: #0078d4;
      padding: 10px;
      color: white;
    }

    .cardDescription {
      max-height: 180px;;
      overflow: hidden;
      background-image: linear-gradient(to bottom, transparent, white);
      padding: 10px;
      }

    .bottomCardContainer {
      margin: 10px;
    }

    .cardButton {
      text-align: center;
      text-transform: uppercase;
      margin-top: auto;
      width: 100%;
      overflow: hidden;
    }

    // ripple effect
    .cardButton:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: rgba(255, 255, 255, .5);
      opacity: 0;
      border-radius: 100%;
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%;
    }
    
    @keyframes ripple {
      0% {
        transform: scale(0, 0);
        opacity: 1;
      }
      20% {
        transform: scale(25, 25);
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: scale(40, 40);
      }
    }
    
    .cardButton:focus:not(:active)::after {
      animation: ripple 1s ease-out;
    }
}