.modalContainer {
    transform: translate(-50%, -50%);
    min-width: 260px;
    max-width: 40%;
    cursor: default;
  }

  .modalHeader {
    background-color: #648f3f;
    color: white;
    display: flex;
    padding: 0px 30px;
  }

  .modalBody {
    padding: 5px;
  }

  .modalDate {
    text-align: left;
    padding: 5px;
    color: #858585;
  }

  .modalDescription {
    padding: 0px 10px;
    overflow: hidden;
  }

  .modalVideo{
    padding: 10px;
  }

  .modalFooter {
    text-align: right;
    padding: 10px 20px;
  }

  .secondaryButton {
    background-color: #e2edd8;
  }

  .secondaryButton:hover {
    background-color: #9abc7d;
    color: white;
  }
