@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.cardButton {
  float: right;
  text-align: center;
  text-transform: uppercase;
  margin-top: auto;
  overflow: hidden;
  border-bottom-right-radius: 4px;
}

.modalContainer {
    transform: translate(-50%, -50%);
    min-width: 260px;
    max-width: 40%;
    cursor: default;
  }

  .modalHeader {
    background-color: #648f3f;
    color: white;
    display: flex;
    padding: 0px 30px;
  }

  .modalBody {
    padding: 5px;
  }

  .modalDate {
    text-align: left;
    padding: 5px;
    color: #858585;
  }

  .modalDescription {
    padding: 0px 10px;
    overflow: hidden;
  }

  .modalVideo{
    padding: 10px;
  }

  .modalFooter {
    text-align: right;
    padding: 10px 20px;
  }

  .secondaryButton {
    background-color: #e2edd8;
  }

  .secondaryButton:hover {
    background-color: #9abc7d;
    color: white;
  }

  // Video player
    .playerWrapper {
      position: relative;
      padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
      max-height: 250px;
    }
     
    .reactPlayer {
      position: absolute;
      top: 0;
      left: 0;
    }